Package: gc-monkey-island
Architecture: amd64
Maintainer: Guardicore
Homepage: http://www.guardicore.com
Priority: optional
Version: 1.0
Description: Guardicore Infection Monkey Island installation package
Depends: openssl, python-pip, python-dev
