#main-layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  :global {
    #app-bar-wrapper {
      height: 50px;
      display: flex;
    }

    #app-content-wrapper {
      flex: 1;
      display: flex;
      overflow: hidden;
    }
  }
}