.inline-selection-component .back-button {
  width: 100%;
  text-align: left;
}

.inline-selection-component .back-button h1{
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  display: inline-block;
}

.inline-selection-component .back-button svg{
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
