.command-display {
  margin-top: 30px;
}

.command-display .nav-tabs .nav-item a{
  font-size: 0.8em;
  color: $monkey-black;
}

.command-display .nav-tabs .nav-item a.active{
  color: $monkey-alt;
}

.command-display .nav-tabs{
  border-bottom: none;
}

.command-display div.card{
  margin: 0;
  border-top-left-radius: 0;
}
