.inline-selection-component.container{
  padding: 0;
  margin-left: 15px;
}

.inline-selection-component .selection-button {
  width: 100%;
}

.inline-selection-component .dropdown {
  display: inline-block;
  margin-right: 10px;
}

.inline-selection-component .command-display {
  margin-bottom: 20px;
}
