[flake8]
## Warn about linter issues.

exclude = monkey/monkey_island/cc/ui,vulture_allowlist.py
show-source = True
max-complexity = 10
max-line-length = 100
per-file-ignores =
  __init__.py:F401
  monkey/tests/unit_tests/infection_monkey/island_api_client/configuration_validation_constants.py:E501
  monkey/agent_plugins/exploiters/zerologon/src/zerologon.py:C901
  monkey/monkey_island/cc/services/reporting/report.py:C901

### ignore "whitespace before ':'", "line break before binary operator" for
### compatibility with black.
extend-ignore = E203, W503

### --statistics Count the number of occurrences of each error/warning code and print a report.
statistics = True

### --count will print the total number of errors.
count = True
