# Intellij
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.dll
*.iso
*.msi
*.exe
*.bin

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
bin
/monkey/monkey_island/db
/monkey/monkey_island/cc/server.key
/monkey/monkey_island/cc/server.crt
/monkey/monkey_island/cc/server.csr
/monkey/monkey_island/cc/ui/node_modules/

# User files
/monkey/monkey_island/cc/userUploads

# MonkeyZoo
# Network status files
MonkeyZoo/*
# Except
!MonkeyZoo/main.tf
!MonkeyZoo/variables.tf
!MonkeyZoo/README.MD
!MonkeyZoo/config.tf
!MonkeyZoo/MonkeyZooDocs.pdf

# Exported monkey telemetries
/monkey/telem_sample/

# Profiling logs
profiler_logs/

# vim swap files
*.swp

# Server config might contain credentials
/monkey/monkey_island/cc/server_config.json

# Virtualenv
venv/
