[tool.black]
line-length = 100
target-version = ['py37']

[tool.isort]
skip = "monkey/monkey_island/cc/ui"
known_first_party = "common,infection_monkey,monkey_island"
line_length = 100
### for compatibility with black
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip_glob="**/__init__.py"

[tool.pytest.ini_options]
minversion = "6.0"
log_cli = 1
log_cli_level = "DEBUG"
log_cli_format = "%(asctime)s [%(levelname)s] %(module)s.%(funcName)s.%(lineno)d: %(message)s"
log_cli_date_format = "%H:%M:%S"
addopts = "-v --capture=sys tests/unit_tests tests/integration_tests"
norecursedirs = "node_modules dist"
markers = ["slow: mark test as slow"]
pythonpath = "./monkey"

[tool.vulture]
exclude = ["monkey/monkey_island/cc/ui/", "monkey/tests/", "monkey/monkey_island/docs/"]
paths = ["."]
