$border-radius-25: 25px;
$app-bar-height: 64px;

$monkey-alt: #28a745;
$monkey-alt-active: rgba(144, 238, 144, 0.5);
$monkey-yellow: #ffc107;
$monkey-black: #000000;
$monkey-info: #17a2b8;
$monkey-white: #ffffff;
$light-gray: #ececec;
