Package: gc-monkey-island
Architecture: amd64
Maintainer: Uri Hershcovits <uri@guardicore.com>
Homepage: http://www.guardicore.com
Priority: optional
Version: 
Description: Guardicore Chaos Monkey C&C installation package
