.config-import-modal .config-import-option .file-input {
  display: inline-block;
}

.config-import-modal .config-import-option .import-error {
  margin-top: 10px;
}
.config-import-modal .config-import-option .config-import-password-input {
  margin-top: 20px;
}

.config-import-modal .config-import-option .config-import-password-input p{
  margin-right: 5px;
  display: inline-block;
  width: auto;
}

.config-import-modal .config-import-option .config-import-password-input input{
  display: inline-block;
  width: auto;
}
