.attack-report.footer-text {
  text-align: right;
  font-size: 0.8em;
  margin-top: 20px;
}

.attack-report div.attack-legend {
  margin-top: 30px;
}

.attack-report .hidden-list{
  display: none;
}

.attack-report .dropdown-list .btn-lg {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0;
}

.attack-report .link-to-technique {
  margin-right: 10px;
}

.attack-report .selected-technique {
  cursor: default;
}
