.report-nav {
  margin-bottom: 2em !important;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  font-size: large;
}

.report-nav > li > a{
  height: 50px !important;
}

.report-nav > li.active{
  font-weight: bold;
}
