// colors
$light-grey: #e0ddde;
$light-blue: #ade3eb;
$light-red: #d9acac;
$black: #3a3a3a;

.attack-matrix .status-0 {
  background-color: $light-grey !important;
  color: $black;
}

.attack-matrix .status-1 {
  background-color: $light-blue !important;
  color: $black;
}

.attack-matrix .status-2 {
  background-color: $light-red !important;
  color: $black;
}

.attack-matrix div.rt-td:hover {
    transform: scale(1.08);
    filter: brightness(110%);
    z-index: 10000;
}

.attack-matrix .rt-thead,.-header {
  border-bottom: 1px solid #0000000f;
}

