[Desktop Entry]
Type=Application
Name=Infection Monkey
Exec=bash
Comment=Infection Monkey FILL ME IN
Icon=infection-monkey
Categories=Development;
Terminal=true
