.aws-scoutsuite-configuration a{
  display: inline-block;
  padding: 0 0 3px 0;
}

.aws-scoutsuite-configuration ol{
  padding-left: 15px;
  margin-bottom: 30px;
}

.aws-scoutsuite-configuration ol.nested-ol{
  margin-bottom: 0;
}

.aws-scoutsuite-configuration li{
  margin-bottom: 5px;
}
