.aws-scoutsuite-configuration a {
  display: inline-block;
  padding: 0 0 3px 0;
}

.aws-scoutsuite-configuration ol {
  padding-left: 15px;
  margin-bottom: 30px;
}

.aws-scoutsuite-configuration ol.nested-ol {
  margin-bottom: 0;
}

.aws-scoutsuite-configuration li {
  margin-bottom: 5px;
}

.monkey-submit-button {
  margin-bottom: 15px;
}

.aws-scoutsuite-key-configuration .collapse-item {
  padding: 0;
  margin-bottom: 15px;
}

.aws-scoutsuite-key-configuration .collapse-item .btn-collapse .question-icon {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 1px;
}

.aws-scoutsuite-key-configuration .collapse-item .btn-collapse p {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.2em;
  margin-left: 5px
}

.aws-scoutsuite-key-configuration .key-creation-tutorial {
  padding-bottom: 10px;
}

.aws-scoutsuite-key-configuration .key-creation-tutorial p {
  margin-bottom: 2px;
  font-weight: 400;
}

.aws-scoutsuite-key-configuration .key-creation-tutorial h5 {
  margin-top: 15px;
  font-weight: 600;
}

.aws-scoutsuite-key-configuration .key-creation-tutorial p:first-child {
  margin-top: 15px;
}

.aws-scoutsuite-key-configuration .image-modal {
  margin-top: 5px;
}

.aws-scoutsuite-key-configuration .key-creation-tutorial img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
}

.link-in-success-message {
  padding: 0 !important;
  vertical-align: initial !important;
}


