.resource-display {
  margin-top: 10px;
}

.resource-display .resource-value-json {
  background-color: $gray-200;
  padding: 4px;
}

.resource-display .resource-path-contents svg {
  margin-left: 5px;
  margin-right: 5px;
  width: 10px;
}

.resource-display .resource-value-title,
.resource-display .resource-path-title {
  font-weight: 500;
  margin-bottom: 0;
}
