.scoutsuite-rule-display .description h3{
  font-size: 1.2em;
  margin-top: 10px;
}

.scoutsuite-rule-display p{
  display: inline-block;
}

.scoutsuite-rule-display .checked-resources-title,
.scoutsuite-rule-display .flagged-resources-title,
.scoutsuite-rule-display .reference-list-title{
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 0;
}

.scoutsuite-rule-display .reference-list a {
  display: block;
  margin-left: 10px;
}
