.ransomware-report .report-section-header {
  margin-top: 40px;
}

.numbered-report-section {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.numbered-report-section .indented {
  padding-left: 2em;
}
.numbered-report-section .description {
  display: flex;
}

.numbered-report-section .alert-icon {
  margin-top: 0.28em;
  margin-right: 0.5em;
}

.ransomware-breach-section .ip-address {
  display: inline-block;
}

.numbered-report-section .external-link-icon {
  margin-left: 0.25em;
}
