// colors
$disabled: #b7c2ff;
$not-attempted: #e0ddde;
$attempted: #ffe28d;
$used: #ebbcba;
$black: #3a3a3a;

.attack-matrix .status-0 {
  background-color: $not-attempted !important;
  color: $black;
}

.attack-matrix .status-1 {
  background-color: $attempted !important;
  color: $black;
}

.attack-matrix .status-2 {
  background-color: $used !important;
  color: $black;
}

.attack-matrix .status-3 {
  background-color: $disabled !important;
  color: $black;
}

.attack-matrix div.rt-td:hover {
    transform: scale(1.08);
    filter: brightness(110%);
    z-index: 10000;
}

.attack-matrix .rt-thead,.-header {
  border-bottom: 1px solid #0000000f;
}

.technique-disabled {
  color: $disabled;
}

.technique-not-attempted {
  color: $not-attempted;
}

.technique-attempted {
  color: $attempted;
}

.technique-used {
  color: $used;
}
