[Unit]
Description=Monkey Island Service
After=network.target

[Service]
Type=simple
ExecStart=/var/monkey_island/ubuntu/systemd/start_server.sh

[Install]
WantedBy=multi-user.target