.getting-started-page h1.page-title {
  margin-bottom: 0;
}

#homepage-shortcuts {
  margin-bottom: 20px;

  a {
    text-decoration: none;

    &.d-block {
      height: 100%;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
