.landing-page {
  background-color: rgba(255, 255, 255, 0.89);
  height: 100%;
  bottom: 0;
}

.landing-page h1.page-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing-page h2.scenario-choice-title {
  margin-bottom: 20px;
  margin-left: 12px;
}

.landing-page .scenario-info {
  margin-bottom: 20px;
}

.landing-page .monkey-description-title {
  margin-top: 30px;
}

.landing-page .d-block {
  height: 100%;
}

.akamai-logo .license-text {
  position: relative;
}

.akamai-logo .version-text {
  position: relative;
}

.landing-page-banner {
    display: block;
    background-color: #ffcc00;
    height:200px;
    margin-right: -15px;
    margin-left: -15px;
}

.landing-banner-component {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.landing-banner-monkey-icon {
    max-height: 65%;
}

.landing-banner-title {
    padding-bottom: 10px;
    max-height: 35%;
}

.landing-page .scenario-header {
  font-size: 1.2em;
  margin-top: 30px;
  margin-left: 20px;
}
