.landing-page h1.page-title {
  margin-bottom: 20px;
}

.landing-page h2.scenario-choice-title {
  margin-bottom: 20px;
  margin-left: 12px;
}

.landing-page .monkey-description-title {
  margin-top: 30px;
}

.landing-page .d-block {
  height: 100%;
}
