[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "==3.6"
awscli = "==1.18.131"
boto3 = "==1.14.54"
botocore = "==1.17.54"
cffi = ">=1.8,!=1.11.3"
dpath = ">=2.0"
gevent = ">=20.9.0"
ipaddress = ">=1.0.23"
jsonschema = "==3.2.0"
mongoengine = "==0.20"
netifaces = ">=0.10.9"
pycryptodome = "==3.9.8"
python-dateutil = "<3.0.0,>=2.1"
requests = ">=2.24"
ring = ">=0.7.3"
stix2 = ">=2.0.2"
six = ">=1.13.0"
tqdm = ">=4.47"
Flask-JWT-Extended = "==3.24.1"
Flask-PyMongo = ">=2.3.0"
Flask-RESTful = ">=0.3.8"
Flask = ">=1.1"
Werkzeug = ">=1.0.1"
ScoutSuite = {git = "https://github.com/guardicode/ScoutSuite"}
PyJWT = "==1.7"

[dev-packages]
virtualenv = ">=20.0.26"
mongomock = "==3.19.0"
pytest = ">=5.4"
requests-mock = "==1.8.0"
black = "==20.8b1"
flake8 = "==3.9.0"
pytest-cov = "*"
isort = "==5.8.0"
coverage = "*"

[requires]
python_version = "3.7"
