[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "==4.9"
bcrypt = "==3.2.0"
boto3 = "==1.18.44"
botocore = "==1.21.44"
dpath = ">=2.0.5"
gevent = ">=20.9.0"
ipaddress = ">=1.0.23"
jsonschema = "==3.2.0"
mongoengine = "==0.20"
netifaces = ">=0.10.9"
requests = ">=2.24"
ring = ">=0.7.3"
Flask-JWT-Extended = "==4.*"
Flask-PyMongo = ">=2.3.0"
Flask-RESTful = ">=0.3.8"
Flask = ">=1.1"
Werkzeug = ">=1.0.1"
pyaescrypt = "*"
python-dateutil = "*"
cffi = "*"  # Without explicit install: ModuleNotFoundError: No module named '_cffi_backend'
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"} # Pyinstaller requirement on windows
pywin32 = {version = "*", sys_platform = "== 'win32'"} # Lock file is not created with sys_platform win32 requirement if not explicitly specified
pefile = {version = "*", sys_platform = "== 'win32'"} # Pyinstaller requirement on windows
readerwriterlock = "*"
pymongo = "*"
cryptography = "*"
semantic-version = "*"
pypubsub = "*"
pydantic = "*"

[dev-packages]
virtualenv = ">=20.0.26"
mongomock = "==3.23.0"
pytest = ">=5.4"
requests-mock = "==1.8.0"
black = "==22.3.0"
dlint = "==0.12.0"
flake8 = "==4.0.1"
pytest-cov = "*"
isort = "==5.10.1"
coverage = "*"
vulture = "==2.3"
tqdm = "*"  # Used in BB tests
sphinx = "*"  # Used in documentation
sphinx_rtd_theme = "*"
sphinx_autodoc_typehints = "*"
types-python-dateutil = "*"
mypy = "*"

[requires]
python_version = "3.7"
