bson
python-dateutil
tornado==5.1.1
werkzeug
jinja2
markupsafe
itsdangerous
click
flask
Flask-Pymongo
Flask-Restful
Flask-JWT
jsonschema==2.6.0
netifaces
ipaddress
enum34
pycryptodome
boto3
botocore
PyInstaller
awscli
cffi
virtualenv
wheel
mongoengine
mongomock
requests
