$monkey-alt: #28a745;
$monkey-yellow: #ffc107;
$monkey-black: #000000;
$monkey-white: #ffffff;
$light-gray: #ececec;

// Define colours before bootstrap import so it generates elements with those colours
$theme-colors: (
  "monkey-alt": $monkey-alt,
  "alt-light": $monkey-alt,
  "primary": $monkey-yellow
);

$nav-pills-link-active-bg: $monkey-alt;
$nav-pills-link-active-color: $monkey-white;
$link-color: $monkey-alt;
