$monkey-alt: #28a745;
$monkey-alt-active: rgba(144, 238, 144, 0.5);
$monkey-yellow: #ffc107;
$monkey-black: #000000;
$monkey-info: #17a2b8;
$monkey-white: #ffffff;
$light-gray: #ececec;

// Define colours before bootstrap import so it generates elements with those colours
$primary: $monkey-yellow;

$nav-pills-link-active-bg: $monkey-alt;
$nav-pills-link-active-color: $monkey-white;
$link-color: $monkey-alt;
