.label-zt-data {
  background-color: #FAD02C !important;
}

.label-zt-people {
  background-color: #507581 !important;
}

.label-zt-networks {
  background-color: #746233 !important;
}

.label-zt-devices {
  background-color: #2F3B29 !important;
}

.label-zt-workloads {
  background-color: #0C1440 !important;
}

.label-zt-analytics {
  background-color: #6B8836 !important;
}

.label-zt-automation {
  background-color: #B4BC82 !important;
}
