@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

#app {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #e8e8e8;
  }

  .header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  .header img {
    width: 100%;
  }

  .navigation {
    margin-top: 1em;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    overflow: auto;
  }

  li .number {
    color: #666;
    display: inline-block;
    width: 1.1em;
  }

  li a {
    /*color: #d30d09;*/
    color: #666;
    display: block;
    padding: 0.5em 1em;
    margin: 0.1em 0;
  }
  li a:hover {
    color: #000;
    background: #e9e9e9;
    text-decoration: none;
  }
  li a.active {
    background: #fff;
    text-decoration: none;
    color: #d30d09;
  }
  li a.active:hover {
    color: #d30d09;
  }
  li a.disabled {
    color: #666;
    cursor: auto;
    pointer-events: none;
  }

  li ul {
    margin-left: 1.5em;
  }

  li .checkmark {
    font-size: 1.3em;
  }
}

/*
 * Main content
 */

.main {
  padding: 2em 1em;
}

.page-title {
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px dotted #d30d09;
  font-size: 2.5em;
  color: #d30d09;
  font-family: 'Alegreya', serif;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}



.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 1em auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/*
 * Run Monkey Page
 */

.inline-select {
  display: inline-block !important;
  width: 130px !important;
  margin-left: 1em;
}

/*
 * Map Preview Pane
 */

.preview.well {
  padding: 1em;
}

.preview h3 {
  margin: 0;

}
.preview h3 small {
  margin-top: 0.5em;
  display: block;
}
.preview h3 .fa {
  margin-right: 5px;
}
.preview h4 {
  text-transform: uppercase;
  color: #999;
  font-size: 1em;
  margin-top: 0;
}
.preview p, .preview .timeline {
  margin-left: 1em;
}

.timeline {
  position: relative;
  padding: 0.5em 0;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 2px;
  height: 100%;
  background: #ccc;
  z-index: 1
}

.timeline li {
  margin-left: 1.5em;
  position: relative;
  overflow: visible;
  margin-bottom: 1em;
}

.timeline .bullet {
  width: 16px;
  background: #ccc;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  margin: 2px 0.5em;
  z-index: 2;
  border-radius: 10px;
}

.timeline .bullet.bad {
  background: #d30d09;
}
