@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

/* Base Application Styles */

body {
  color: #fff;
  background: #222;
}

#app {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px !important;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #e8e8e8;
  }

  .header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #ffcc00;
    padding: 15px;
  }

  .header img {
    width: 100%;
  }

  .navigation {
    margin-top: 1em;
    padding: 15px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

  li {
    overflow: auto;
  }

  li .number {
    display: inline-block;
    width: 1.1em;
  }

  li a {
    color: #333333;
    display: block;
    padding: 0.5em 1em;
    margin: 0.1em 0;
  }

  li a:hover {
    color: #000;
    background: #e9e9e9;
    text-decoration: none;
  }
  li a.active {
    background: #333333;
    text-decoration: none;
    color: #ffcc00;
  }
  li a.active:hover {
    color: #ffcc00;
  }
  li a.disabled {
    color: #666;
    cursor: auto;
    pointer-events: none;
  }

  li ul {
    margin-left: 1.5em;
  }

  li .checkmark {
    font-size: 1.3em;
    margin-right: -10px;
    color: #ffcc00;
  }

  hr {
    border-top-color: #ccc !important;
  }

  .guardicore-link span {
    color: #999;
    vertical-align: middle;
  }

  .guardicore-link img {
    height: 24px;
    margin-left: 8px;
    vertical-align: middle;
  }
}

/*
 * Main content
 */

.main {
  padding: 2em 1em;
}

.page-title {
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px dotted #ffcc00;
  font-size: 2.5em;
  color: #ffcc00;
  font-family: 'Alegreya', serif;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}



.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 1em auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/*
 * Configuration Page
 */

.rjsf .form-group .form-group {
  margin-left: 2em;
}

.rjsf #root__title {
  display: none;
}

/*
 * Run Monkey Page
 */

.inline-select {
  display: inline-block !important;
  width: 130px !important;
  margin-left: 1em;
}

.run-monkey-snippets .well {
  margin-bottom: 0;
}

/*
 * Map Preview Pane
 */

.preview-pane {
  background: #f5f5f5;
  border-left: 1px solid #e8e8e8;
  border-bottom: 3px solid #e8e8e8;
  padding: 1.5em 1em;
  border-radius: 8px;
  margin-bottom: 2em;
}

.preview-pane hr {
  margin: 10px 0;
}

.preview-pane h3 {
  margin: 0;
  font-size: 20px;

}
.preview-pane h3 small {
  margin-top: 0.5em;
  display: block;
}
.preview-pane h3 .fa {
  margin-right: 5px;
}
.preview-pane h4 {
  text-transform: uppercase;
  color: #999;
  font-size: 1em;
  margin-top: 0;
}

.preview-pane .table tr:first-child th , .preview-pane .table tr:first-child td {
  border-top: 0;
}

.preview-pane .table th {
  text-align: left;
}

.preview-pane p, .preview-pane .timeline {
  margin-left: 1em;
}

.timeline {
  position: relative;
  padding: 0.5em 0;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 2px;
  height: 100%;
  background: #ccc;
  z-index: 1
}

.timeline li {
  margin-left: 1.5em;
  position: relative;
  overflow: visible;
  margin-bottom: 1em;
}

.timeline .bullet {
  width: 16px;
  height: 16px;
  background: #ccc;
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  margin: 2px 0.5em;
  z-index: 2;
  border-radius: 10px;
}

.timeline .bullet.bad {
  background: #d30d09;
}

.telemetry-console {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  border: 3px solid #aaa;
  padding: 0.5em;
  color: white;
  font-family: Consolas, "Courier New", monospace;
  overflow: auto;
}

.telemetry-console .date {
  color: #ccc;
}

.telemetry-console .source {
  font-weight: bold;
}

.map-legend {
  font-size: 18px;
}

/*
 * Full Logs Page
 */

.data-table-container > .container {
  width: inherit;
  padding: 0;
}

.data-table-container > .container th , .data-table-container > .container td {
  padding: 15px 8px;
}

.data-table-container > .container > .row:first-child > div:first-child > div {
  display: inline-block;
}

.data-table-container > .container > .row:first-child > div:first-child > div:last-child {
  margin-left: 1em;
}

#search-field , #page-menu {
  margin-left: 0.5em;
  margin-bottom: 1em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#search-field {
  width: 100px;
}

.license-link a:link, .license-link a:visited {
  color: #797979 !important;
  font-size: 0.9em;
}

.data-table-container .pagination {
  margin: 0 !important;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}


/* Report page */

.report-page {
  font-size: 1.2em;
  border: 1px solid #fff;
  padding: 2em;
  -webkit-box-shadow: 1px 1px 7px -1px #ccc;
  box-shadow: 1px 1px 7px -1px #ccc;
}

.report-page h1 {
  margin-top: 30px;
}

.report-page h3 {
  margin-top: 20px;
}

.report-page h4 {
  margin-top: 20px;
}

.report-page ul {
  list-style: disc;
  padding-left: 40px;
}

.report-page li {
  overflow: visible;
}

.report-page li a {
  display: inline;
  padding: 0em;
}

/* Print report styling */

@media print {
  .sidebar {
    display: none;
  }

  .no-print {
    display: none;
  }

  .force-print {
    display: block !important;
  }

  .pie-chart {
    width: 100px;
  }

  .label {
    padding: 2px 6px;
    border: 1px solid #000;
    color: #fff !important;
    display: inline !important;
    font-size: 75% !important;
    font-weight: bold !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
  }

  .alert {
    padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
  }

  .alert-danger {
    color:#a94442 !important;
    background-color:#f2dede !important;
    border-color:#ebccd1 !important;
  }

  .alert-success {
    color:#3c763d !important;
    background-color:#dff0d8 !important;
    border-color:#d6e9c6 !important;
  }

  .alert-info {
    color:#31708f !important;
    background-color:#d9edf7 !important;
    border-color:#bce8f1 !important;
  }

  .label-default {
    background-color: #777 !important;
  }

  .label-primary {
    background-color: #337ab7 !important;
  }

  .label-success {
    background-color: #5cb85c !important;
  }

  .label-info {
    background-color: #5bc0de !important;
  }

  .label-warning {
    background-color: #f0ad4e !important;
  }

  .label-danger {
    background-color: #d9534f !important;
  }
}
