#app-profile {
    :hover {
        cursor: pointer;
    }

    :global {
        .MuiAvatar-root {
            width: 2.5rem;
            height: 2.5rem;
            color: red;
        }
        .profile-avatar {
            width: 2rem;
            height: 2rem;
        }
    }
}
