[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "==4.9"
impacket = ">=0.9"
ipaddress = ">=1.0.23"
netifaces = ">=0.10.9"
odict = "==1.7.0"
psutil = ">=5.7.0"
pymssql = "==2.1.5"
pypykatz = "==0.5.2"
requests = ">=2.24"
urllib3 = "==1.26.5"
WMI = {version = "==1.5.1", sys_platform = "== 'win32'"}
pypsrp = "*"
typing-extensions = "*" # Allows us to use 3.9 typing features on 3.7 project
pysmb = "*"
"WinSys-3.x" = "*"
ldaptor = "*"
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"} # Pyinstaller requirement on windows
pywin32 = {version = "*", sys_platform = "== 'win32'"} # Lock file is not created with sys_platform win32 requirement if not explicitly specified
pefile = {version = "*", sys_platform = "== 'win32'"} # Pyinstaller requirement on windows
paramiko = {editable = true, ref = "2.10.3.dev1", git = "https://github.com/VakarisZ/paramiko.git"}
pypubsub = "*"
pydantic = "*"
egg-timer = "*"
# These are the last versions of bcrypt and cryptography that have
# manylinux2010 wheels. We need these locked to 3.2.2 and 37.0.4 respectively
# until we can upgrade our build environment.
cryptography = "==37.0.4"
bcrypt = "==3.2.2"
pyopenssl = "==22.0.0" # 22.1.0 reqiures cryptography <39, >=38.0.0
winacl = "==0.1.3" # 0.1.5 requires cryptography >=38.0.1
msldap = "==0.4.0" # 0.4.6 requires winacl >= 0.1.4, which requires cryptography >= 38.0.1
aiosmb = "==0.4.0" # 0.4.3 requires winacl >= 0.1.5, which requires cryptography >= 38.0.1
serpentarium = "==0.5.0"
jsonschema = "*"
semver = "==2.13.0"

[dev-packages]
ldap3 = "*"
mypy = "*"

[requires]
python_version = "3.7"
