impacket
pycryptodome
cffi
requests
odict
paramiko
psutil
git+https://github.com/guardicore/pyinstaller
ecdsa
netifaces
ipaddress
# Locking WMI since version 1.5 introduced breaking change on Linux agent compilation.
# See breaking change here: https://github.com/tjguk/wmi/commit/dcf8e3eca79bb8c0101ffb83e25c066b0ba9e16d
# Causes pip to error with:
# Could not find a version that satisfies the requirement pywin32 (from wmi->-r /src/infection_monkey/requirements.txt (line 12)) (from versions: none)
wmi==1.4.9 ; sys_platform == 'win32'
pymssql<3.0
pyftpdlib
WinSys-3.x
pypykatz
