[Desktop Entry]
Type=Application
Name=Infection Monkey
Exec=bash
Comment=An automated breach and attack simulation platform
Icon=monkey-icon
Categories=Development;
Terminal=true
