.drop-zone{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-width: 2px;
  border-radius: 10px;
  border-style: dashed;
  background-color: #fafafa;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.drop-zone:hover {
  border-color: #ffc107 !important;
}
.circle-list li{
  list-style-type: circle;
  overflow: visible !important;
}
