.advanced-multi-select .choice-block.form-control {
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;
  margin-left: 0;
}

.advanced-multi-select svg {
  font-size: 1.15em;
}

.advanced-multi-select .card-header {
  border: 1px solid $gray-300;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 0;
  padding-bottom: 5px;
}

.advanced-multi-select .card-header .master-checkbox span {
  padding-bottom: 0.188rem;
}

.advanced-multi-select .card-header .header-title {
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
}

.advanced-multi-select .choice-block .form-group {
  margin: 0 !important;
  padding: 3px 0 0 0;
  height: 30px;
}

.advanced-multi-select .choice-block .form-group:hover {
  background-color: $gray-300;
  cursor: pointer;
}

.advanced-multi-select .choice-block .form-group button {
  margin: 0 3px 3px 12px;
  padding: 0;
}

.advanced-multi-select .option-text {
  margin-left: 10px;
}

.advanced-multi-select .form-control .no-options {
  padding: 3px 0 3px 0;
}

.advanced-multi-select .no-options-text {
  margin-left: 10px;
  font-weight: bold;
}

.advanced-multi-select .form-control[readonly]{
  background-color: $light-gray;
  opacity: 1;
}

.active-checkbox {
  background-color: $monkey-alt-active;
}
