.monkey-submit-button {
    border-color: #3f3f3f;
    font-size: 1.3em;
    width: 100%;
    background-color: #3f3f3f;
    color: $monkey-yellow;
}

.monkey-submit-button:hover {
    border-color: $monkey-yellow;
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    background-color: $monkey-yellow;
    color: #000000;
}

a.inline-link {
    position: relative;
    top: -1px;
    margin: 0;
    padding: 0;
}
