.map-legend {
  font-size: 18px;
  position: absolute;
  z-index: 1;
}

.map-window {
  position: relative;
}

#map-column {
  flex: auto;
  max-width: 100%;
}

.net-graph-wrapper {
  height: 89vh;
  width: 100%;
  padding-bottom: 10px;
}

.exploit-timeline {
  overflow-y: auto;
  max-height: 500px;
}
