.map-legend {
  font-size: 18px;
}

.map-window {
  position: relative;
}

.net-graph-wrapper {
  height: calc(100% - 130px);
  width: 100%;
  padding-bottom: 10px;
}

.exploit-timeline {
  overflow-y: auto;
  max-height: 500px;
}
