.x-data-grid {
  .x-data-grid-title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .x-data-grid-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      text-decoration: underline;
      font-weight: bold;
      color: #141414bd;
    }
  }

  .MuiDataGrid-toolbarContainer {
    .MuiButtonBase-root.MuiButton-root.MuiButton-text {
      line-height: 1;
    }
  }

  .x-data-grid-row {
    &.run-error, &.run-success {
      color: white;
    }

    &.run-error {
      background-color: rgb(255 34 20 / 70%);

      &:hover {
        background-color: rgb(255 34 20 / 80%);
      }
    }

    &.run-success {
      background-color: rgb(73 175 79 / 70%);

      &:hover {
        background-color: rgb(73 175 79 / 80%);
      }
    }
  }

  p {
    margin-bottom: 0;
  }
}
