@use 'src/styles/variables' as *;

#theme-mode {
  :global {
    .theme-mode-button {
      border-radius: $border-radius-25;

      &.light-mode {
        background-color: rgba(0, 0, 0, 0.48);
        color: #fff;
      }

      &.dark-mode {
        background-color: #fff;
        color: #000;
      }
    }
  }
}