@use 'src/styles/variables' as *;

#app-bar {
  display: flex;
  justify-content: space-between;

  :global {
    .MuiContainer-root {
      width: 100%;
      max-width: 100%;

      .MuiToolbar-root {
        display: flex;
        min-height: $app-bar-height;
        height: $app-bar-height;
        justify-content: space-between;


        .logo-and-menu-container {
          display: flex;
          gap: 1rem;
          align-items: center;

          .logo-and-drawer-container {
            align-items: center;
            display: flex;
            gap: 2rem;
          }

          .logo-icon {
            font-size: 2.5rem;
          }

          :hover {
            cursor: pointer;
          }
        }

        .app-route-link {
          height: $app-bar-height;
        }

        .etc-container {
          display: flex;
          gap: 1rem;
          align-items: center;
        }
      }
    }
  }
}
